.chefDetails {
  margin: 0 auto;
  max-width: 800px;
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header img {
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.name {
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
  color: rgb(111, 193, 196);
  line-height: 90%;
  margin-bottom: 2rem;
}

.bio {
  padding-top: 2rem;
  border-top: 2px solid rgb(111, 193, 196);
}

.recipes {
  margin-top: 2rem;
  border-top: 2px solid rgb(111, 193, 196);
  padding-top: 2rem;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 639px) {
  .header {
    flex-direction: column;
  }
  .header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name {
    font-size: 3rem;
    text-align: center;
  }
}
